<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<ul>
    
    {% for cdata in data %}
    <li>{{cdata}}</li>

    {% endfor %}
</ul>
</body>
</html>



CREATE DATABASE internship;
CREATE TABLE interns(
   interns_id INT NOT NULL,
   interns_name VARCHAR(100) NOT NULL,
   interns_language VARCHAR(40) NOT NULL,
   interns_team VARCHAR(40) NOT NULL,
   submission_date DATE,
   PRIMARY KEY (interns_id)
);

INSERT INTO interns(interns_name, interns_language, interns_team) VALUES ('isaiah', 'Python', 'Beta');
INSERT INTO interns(interns_name, interns_language, interns_team) VALUES ('Nathaniel', 'Dart', 'Beta');
INSERT INTO interns(interns_name, interns_language, interns_team) VALUES ('Adul', 'PHP', 'Alpha');
INSERT INTO interns(interns_name, interns_language, interns_team) VALUES ('Muyiwa', 'Js', 'Alpha');
INSERT INTO interns(interns_name, interns_language, interns_team) VALUES ('Muyida', 'Js', 'Delta');
INSERT INTO interns(interns_name, interns_language, interns_team) VALUES ('Tafehq', 'Js', 'Delta');
INSERT INTO interns(interns_name, interns_language, interns_team) VALUES ('Emmanuel', 'Js', 'Charlie');
